.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
}

.App-header {
  background-color: #222;
  padding: 10px;
  color: white;
  margin-bottom: 40px;
}

.App-title {
  font-size: 1.5em;
  display: inline-block;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.todo-app {
  margin: 0 auto;
  padding: 5px;
  width: 60%;
  border-radius: 5px;
  box-shadow: 5px 10px 15px #222;
  background: white;
}

.new-todo {
  display: flex;
}

.new-todo input[type="text"] {
  padding: 5px;
  flex-grow: 8;
  flex-basis: 0;
}

.new-todo input[type="submit"] {
  padding: 5px;
  background: #28a745;
  border: 2px solid #28a745;
  border-radius: 5px;
  margin-left: 5px;
  flex-grow: 2;
  flex-basis: 0;
  color: white;
  cursor: pointer;
  box-shadow: 0 3px #999;
}

.new-todo input[type="submit"]:active {
  box-shadow: 0 1px #667;
  transform: translateY(2px);
}

.todo-app ul {
  padding: 0;
  list-style-type: none;
}

.todo-app ul li:nth-child(even) {
  background: rgb(224, 224, 226);
}

.todo-list {
  display: flex;
  padding: 10px 5px;
}

.todo-name {
  flex-grow: 1;
  flex-basis: 0;
  text-align: left;
}

.delete {
  padding: 12px 5px;
  margin-top: 14px;
  font-size: 10px;
  background: #c9302c;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  box-shadow: 0 3px #999;
}

.delete:active {
  box-shadow: 0 1px #667;
  transform: translateY(2px);
}